<!DOCTYPE html>
<html>
  <head>
    <title>Paul Salter Consulting Ltd</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', :defer => "defer" %>
    <%= render 'layouts/navigation' %>
  </head>
  <body class="section--home">
    <%= yield %>
  </body>
</html>
